<div class="row">
    <h2>Proyectos realizados</h2>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>- A completar...</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis earum sit fugit debitis, dolorem corporis in facere ut molestias ratione magni odio recusandae autem sapiente sunt tempore veritatis est numquam?</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/working.png" class="img-fluid img-proyecto" >
            </div>
        </div>
    </div>
</div>
